<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
    colors="true">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">application</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unit-tests">
      <directory>tests</directory>
      <exclude>tests/languages</exclude>
    </testsuite>
    <testsuite name="language-de">
      <directory>tests/languages/de</directory>
    </testsuite>
    <testsuite name="language-en">
      <directory>tests/languages/en</directory>
    </testsuite>
    <testsuite name="language-fr">
      <directory>tests/languages/fr</directory>
    </testsuite>
  </testsuites>
</phpunit>
